// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagniation-wrapper {
    text-align: center;
}

.news-container {
	position: inherit;
    bottom: inherit;
    padding: inherit;
}

.search-container {
    padding-top: 10 px;
}
